/* color palette  */
:root {
    --color-one: #fff;
    --color-two: #000;
    --color-three: #020912;
    --color-four: #081d38;
    --color-five: #00a5ff;
    --color-six: #1c4ea1;
    --font-one: "Roboto", sans-serif;
    --color-background : #121212;
}


/* coomon  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 450px;
    padding: 0 20px;
    margin: 0 auto;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    font-family: var(--font-one);
    background: linear-gradient(255deg, #121212 0%, #121212 80%)
}


/* hero section  */
.hero-section {
    padding: 15px 0;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-radius: 30px; 
    padding: 8px;
    position: relative; 
    background-color: transparent; 
    z-index: 1; 
}

.navigation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px; 
    padding: 1px; 
    background: linear-gradient(
        to right,
        rgba(255, 255, 255,0.3) 0%,
        rgba(255, 255, 255,0.3) 25%,
        rgba(255, 255, 255,0) 50%,
        rgba(255, 255, 255,0.3) 75%,
        rgba(255, 255, 255,0.3) 100%
    ); 
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0); 
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    z-index: -1; 
}
.nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Menu Button Style */
.menu-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    cursor: pointer;
}

/* Submenu Styling */
.submenu {
    list-style: none;
    padding: 5px 0px;
    margin-top: 10px;
    position: absolute;
    display: none; /* Hidden by default */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 999;
}

.submenu li {
    padding: 10px 20px;
    white-space: nowrap;
}

.submenu li a {
    color: var(--color-one);
    text-decoration: none;
}

.submenu li a:hover {
    opacity: .7;
    transition: all 0.3s;
}

/* Optional: Adding some animation */
.submenu.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.menu-item.menu svg path {
    fill: var(--color-one);
}
.menu-item.search svg path {
    stroke: var(--color-one);
    fill: none;
}
.menu-item:hover {
    background: rgba(255, 255, 255, 0.25); 
    transition: all 0.3s;
}


/* cash  */
.cash-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    position: relative;
}
.outer-border {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    /* background: 
        linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,50,102,1) 100%) left, 
        linear-gradient(180deg, rgba(36,120,237,1) 0%, rgba(28,78,161,1) 100%) right;  */
    background-size: 50% 100%; 
    background-repeat: no-repeat; 
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.outer-border-left,
.outer-border-right {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
}

.outer-border-left {
    clip-path: inset(0 50% 0 0); /* This clips the right half, showing only the left */
    background: linear-gradient(180deg, #00a5ff 0%, #00a5ff 100%);
}

.outer-border-right {
    clip-path: inset(0 0 0 50%); /* This clips the left half, showing only the right */
    background: linear-gradient(180deg, #00d8de 0%, #00d8de 100%);
}

.middle-border {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: linear-gradient(255deg, #51565d 0%, #51565d 80%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.inner-border {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #1e2937;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.inner-border p {
    color: var(--color-one);
    font-weight: 300;
}
.inner-border h4 {
    color: var(--color-one);
    font-size: 22px;
}
.inner-border span.rate {
    color: var(--color-two);
    background: #03dac6;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 13px;
    font-weight: 500;
}

.action-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 33px;
    gap: 5px;
}
.action-btn-wrapper button {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
}
.action-btn-wrapper button:hover .button-icon-outer {
    background: rgba(255, 255, 255, 0.15); 
    transition: all 0.3s;
}
.button-icon-outer {
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-card.active .receive-button-icon svg path {
    stroke: #00d8de;
}

.button-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon.active {
    background: var(--color-one);
}
.button-icon svg {
    height: 24px;
}
.button-icon.active svg {
    stroke: var(--color-two);
}
.btn-txt {
    color: var(--color-one);
    padding-top: 10px;
    opacity: .7;
    font-size: 16px;
}

.send-button-icon svg {
    rotate: -45deg;
}

.receive-button-icon svg {
    rotate: 130deg;
}


/* transaction  */
.title-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.title-wrapper h2 {
    color: var(--color-one);
    font-size: 18px;
    font-weight: 400;
}
.see-all-btn {
    outline: none;
    border: none;
    background: transparent;
    color: var(--color-five);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.see-all-btn:hover {
    opacity: .7;
    transition: all 0.2s;
}

.transaction-card-wrapper {
    max-height: 500px; /* Adjust height based on your layout */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 20px;
}

.transaction-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.transaction-card:hover {
    opacity: .7;
    transition: all 0.3s;
}
.transaction-card-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.transaction-card .logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction-card .logo img {
    width: auto;
    height: 25px;
    object-fit: contain;
}
.transaction-card-left .title {
    color: var(--color-one);
    font-size: 15px;
}
.transaction-card-left .title span {
    font-size: 12px;
}
.transaction-amount {
    color: var(--color-one);
}

.transaction-card.active {
    background: var(--color-one);
}
.transaction-card.active .title, .transaction-card.active .transaction-amount {
    color: var(--color-two);
}
.transaction-card.active .logo {
    background: var(--color-two);
}


@media screen and (max-width:360px) {
    
    .button-icon-outer {
        width: 80px;
        height: 80px;
    }
}



/* send swal */
.swal2-input {
    border: 1px solid #03dac5; /* Your custom border color */
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px); /* Adjust based on your design */
    box-shadow: none; /* Remove default shadow */
}

/* Additional styling as needed */


/* Center and style the SweetAlert2 popup */
.custom-swal-popup {
    width: 80%; /* Set a custom width for the entire modal if needed */
}

/* Style the input field inside SweetAlert2 */
.custom-swal-input {
    width: 50% !important; /* Set the input box width to 50% of the modal */
    margin: 0 auto; /* Center the input box */
    text-align: center; /* Center the text inside the input box */
    padding: 10px; /* Add padding for better readability */
    border-radius: 5px; /* Rounded corners for a nicer look */
    font-size: 16px; /* Adjust font size */
}

/* Style confirm and cancel buttons */
.custom-confirm-button {
    background-color: #3688b4; /* Change the color of the confirm button */
}

.custom-cancel-button {
    background-color: #ff0000; /* Change the color of the cancel button */
}
